@model AgencyWebSite.Entities.ProjectDetail
@{
    ViewBag.Title = "UpdateProjectDetail";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Proje Güncelleme Sayfası</h4>
            <p class="card-description">Proje güncelleme işlemlerini buradan yapabilirsiniz.</p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label>Proje Detay Id</label>
                    @Html.TextBoxFor(x => x.ProjectDetailId, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Proje Detay Açıklaması</label>
                    @Html.TextBoxFor(x => x.ProjectDetailDescription, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <label>Proje Detay Başlığı</label>
                    @Html.TextBoxFor(x => x.ProjectDetailTitle, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Proje Kategorisi</label>
                    @Html.DropDownListFor(x => x.ProjectId, (List<SelectListItem>)ViewBag.projectId, new { @class = "table table-bordered" })
                </div>
                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                <button type="reset" class="btn btn-light">Vazgeç</button>
            </form>
        </div>
    </div>
</div>