@model List<AgencyWebSite.Entities.Feature>
@{
    ViewBag.Title = "FeatureList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Öne Çıkanlar Sayfası</h4>

            <p class="card-description">
                Öne Çıkanlar ile ilgili işlemleri buradan yapabilirsiniz
            </p>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Feature Başlığı</th>
                            <th>Feature Açıklaması</th>
                            <th>Feature Resmi</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>1</td>
                                <td>@item.FeatureTitle</td>
                                <td>@item.FeatureDescription</td>
                                <td><img src="@item.FeatureImageUrl" style="width:75px; height:75px" alt="Proje Görseli" /></td>
                                <td><a class="btn btn-danger" href="/Feature/DeleteFeature/@item.FeatureId"><i class="fa fa-trash"></i>Sil</a></td>
                                <td><a class="btn btn-success" href="/Feature/UpdateFeature/@item.FeatureId"><i class="fa fa-pencil">Güncelle</i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/Feature/CreateFeature" class="btn btn-info"><i class="mdi mdi-file-check btn-icon-append">Feature Oluştur</i></a>
            </div>
        </div>
    </div>
</div>
