<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 text-lg-start">Tüm Hakları Satın Alınmıştır: &copy; AgencyWebSite 2018</div>
            <div class="col-lg-3 text-lg-start">Dağıtım: <a href="https://google.com/">Türkiye</a></div>
            <div class="col-lg-3 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-3 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#">Güvenlik Politikaları</a>
                <a class="link-dark text-decoration-none" href="#">Agency</a>
            </div>
        </div>
    </div>
</footer>
