@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Sivas, Turkey<br />
        Cumhuriyet Univercity<br />
        <abbr title="Phone">05511827572</abbr>
    </address>

    <address>
        <strong>Support: </strong>   <a href="mailto:mehwetpolat@gmail.com">mehwetpolat@gmail.com</a><br />
    </address>
</main>