﻿<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
        <a class="sidebar-brand brand-logo" href="index.html"><img src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo.svg" alt="logo" /></a>
        <a class="sidebar-brand brand-logo-mini pl-4 pt-3" href="index.html"><img src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/assets/images/faces/face1.jpg" alt="profile" />
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column pr-3">
                    <span class="font-weight-medium mb-2">@ViewBag.profile</span>
                    <span class="font-weight-normal"></span>
                </div>
                <span class="badge badge-danger text-white ml-3 rounded">3</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Templates/Breeze-Free-Bootstrap-Admin-Template-1.0.0/template/index.html">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="" aria-expanded="false" aria-controls="ui-basic">
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
                <i class="menu-arrow"></i>
            </a>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/icons/mdi.html">
                <i class="mdi mdi-contacts menu-icon"></i>
                <span class="menu-title">Öne Çıkanlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Service/ServiceList">
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Project/ProjectList">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">Projeler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
                <i class="mdi mdi-table-large menu-icon"></i>
                <span class="menu-title">-Personeller</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
                <i class="mdi mdi-table-large menu-icon"></i>
                <span class="nav-link" href="#">

                    <span class="menu-title">Hakkımda</span>
                </span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
                <i class="mdi mdi-table-large menu-icon"></i>
                <span class="menu-title">-Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages/tables/basic-table.html">
                <i class="mdi mdi-table-large menu-icon"></i>
                <span class="menu-title">Bildirimler</span>
            </a>
        </li>

        <ul class="mt-4 pl-0">
            <li>Sign Out</li>
        </ul>

    </ul>
</nav>